.edt {
    display: flex;
    
    .ed1 {
        position: relative;

        &:hover .ed2 {
            display: flex;

            span {
                font-size: small;
                font-weight: bold;

                &:hover {
                    color: rgb(35, 35, 119);
                }
            }
        }

        .ed2 {
            display: none;
            flex-direction: column;
            background: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            position: absolute;
            padding: 5px;
            top: 20px;
            z-index: 999;
            cursor: pointer;
        }
    }

    .c2 {
        display: none;
        flex-direction: column;
        right: 90%;
        top: 0;

        div{
            display: flex;
            justify-content: space-between;
            gap: 5px;
        }

        textarea {
            background: white;
            color: black;
            width: 150px;
            height: 30px;
            resize: none;
            padding: 5px;
        }

        button {
            background: rgb(35, 35, 119);
            border: transparent;
            width: 100%;

            &:hover {
                background: #6771c0;
                transition: 0.5s;
            }
        }
    }

    .cl {
        display: flex;
    }
}